* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*background image of blue water
 .background {
    background-image: url(./images/Background.jpg);
}*/
    

body {
    height: 80vh;
}
.items  {
/*background-color: rgb(72, 182, 69);*/
margin: 40px;
list-style: none;
}

 h1 {
     font-size: 90px;
 }

 .input {
     height: 80px;
     width: 800px;
 }

 #submit {
     background-color: green;
     color: blanchedalmond;
     border-radius: 8px;
     font-size: 20px;
     margin-right: 10px;
    }

 #remove {
     background-color: red;
     color: blanchedalmond;
     border-radius: 15px;
     font-size: 18px;
 }