/*phil welsby - 14 aug 2021*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*background image of blue water
 .background {
    background-image: url(./images/Background.jpg);
}*/
    

body {
    height: 80vh;
}
.items  {
/*background-color: rgb(72, 182, 69);*/
margin: 40px;
list-style: none;
font-size: 40px;
}

 h1 {
     font-size: 70px;
     margin-left: 40px;
 }

 .input {
     height: 100px;
     width: 800px;
     margin-left: 40px;
 }

 .submit {
     background-color: green;
     color: blanchedalmond;
     border-radius: 8px;
     font-size: 70px;
     margin-right: 60px;
     margin-left: 40px;
     margin-top: 30px;
    }

 .remove {
     background-color: red;
     color: blanchedalmond;
     border-radius: 15px;
     font-size: 70px;
 }